html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.d-flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
